* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    padding-top: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(57, 56, 65);
}

.manage {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(57, 56, 65);
    padding-top: 30px;
    padding-bottom: 15px;
}

.profile {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    border: 1px solid rgb(221, 213, 213);
    width: 100%;
    border-radius: 7px;
    padding: 10px;
    margin-bottom: 10px;
}

.profile img {
    width: 50px;
    height: auto; /* Ensures image aspect ratio is maintained */
    object-fit: contain;
}

.profile:nth-of-type(1) img,
.profile:nth-of-type(2) img {
    height: 30px;
}

.profile:nth-of-type(3) img,
.profile:nth-of-type(4) img {
    height: 20px;
}

.profile:nth-of-type(5) img {
    height: 25px;
}

.profile a {
    flex: 3;
    text-decoration: none;
    color: black;
}

.Terms {
    color: rgb(151, 147, 147);
    margin: 35px;
}

.Terms span {
    color: rgb(17, 15, 15);
}

.Sign-up {
    border: 1px solid rgb(226, 221, 221);
    background-color: rgb(226, 221, 221);
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}

.Sign-up a {
    text-decoration: none;
    color: black;
}

.Sign-up span {
    color: red;
}

@media screen and (max-width: 368px) {
    .Terms {
        font-size: 1rem;
    }
}
